*.pkl
*.pyc
*.code-workspace
.vscode/*
block_construction_wrapper/silhouette_2/assets/buildDemo.gif
block_construction_wrapper/silhouette_2/assets/failDemo.gif
block_construction_wrapper/silhouette_2/assets/practice_structure.js
block_construction_wrapper/silhouette_2/assets/trialGif.gif
block_construction_wrapper/silhouette_2/assets/trialGifSmaller.gif
block_construction_wrapper/silhouette_2/css/bootstrap.css
block_construction_wrapper/silhouette_2/css/bootstrap.min.css
block_construction_wrapper/silhouette_2/css/experiment.css
block_construction_wrapper/silhouette_2/css/jspsych.css
block_construction_wrapper/silhouette_2/experiment.html
block_construction_wrapper/silhouette_2/js/bootstrap.min.js
block_construction_wrapper/silhouette_2/js/custom/block.js
block_construction_wrapper/silhouette_2/js/custom/blockKind.js
block_construction_wrapper/silhouette_2/js/custom/blockMenu.js
block_construction_wrapper/silhouette_2/js/custom/boundary.js
block_construction_wrapper/silhouette_2/js/custom/canvasInteraction.js
block_construction_wrapper/silhouette_2/js/custom/displayStimuli.js
block_construction_wrapper/silhouette_2/js/custom/evaluateScore.js
block_construction_wrapper/silhouette_2/js/custom/experimentEnvironment.js
block_construction_wrapper/silhouette_2/js/custom/randomizeTrials.js
block_construction_wrapper/silhouette_2/js/jquery-ui.min.js
block_construction_wrapper/silhouette_2/js/jquery.min.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-block-silhouette-build.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-image-button-response.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-instructions.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-nAFC-circle.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-survey-likert.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-survey-multi-choice.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-survey-text.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych.js
block_construction_wrapper/silhouette_2/js/matter.js
block_construction_wrapper/silhouette_2/js/mmturkey.js
block_construction_wrapper/silhouette_2/js/p5.js
block_construction_wrapper/silhouette_2/js/setup.js
block_construction_wrapper/silhouette_2/js/socket.io.js
block_construction_wrapper/silhouette_2/README.md
interesting_structures/hand_selected_016.json
interesting_structures/hand_selected_015.json
interesting_structures/hand_selected_014.json
interesting_structures/hand_selected_013.json
interesting_structures/hand_selected_012.json
interesting_structures/hand_selected_011.json
interesting_structures/hand_selected_010.json
interesting_structures/hand_selected_009.json
interesting_structures/hand_selected_008.json
interesting_structures/hand_selected_007.json
interesting_structures/hand_selected_006.json
interesting_structures/hand_selected_005.json
interesting_structures/hand_selected_004.json
interesting_structures/hand_selected_003.json
interesting_structures/hand_selected_002.json
interesting_structures/hand_selected_001.json
.vscode/settings.json
settings.json
*checkpoint.ipynb
.vscode/launch.json
projection_agent/.vscode/*
*.prof
running experiments notes.md
projection_agent/Analysis many graphs.ipynb
projection_agent/Analysis before migration.ipynb
projection_agent/analysis_main.py
projection_agent/experiments/exp_runner_tests.py
old runs/beam_search.pkl copy
projection_agent/Analysis many graphs.ipynb
analysis/analysis_main.py
analysis/Analysis Playground.ipynb
main.py
*.pdf
run_tools_for_bc_job
fromssrde.txt
*.cyberducksegment
tools_bc
tools_bc/*
*.out
*.csv
.ipynb_checkpoints
results/plots/*
*.zip
