
*.pyc
*.code-workspace
block_construction_wrapper/silhouette_2/assets/buildDemo.gif
block_construction_wrapper/silhouette_2/assets/failDemo.gif
block_construction_wrapper/silhouette_2/assets/practice_structure.js
block_construction_wrapper/silhouette_2/assets/trialGif.gif
block_construction_wrapper/silhouette_2/assets/trialGifSmaller.gif
block_construction_wrapper/silhouette_2/css/bootstrap.css
block_construction_wrapper/silhouette_2/css/bootstrap.min.css
block_construction_wrapper/silhouette_2/css/experiment.css
block_construction_wrapper/silhouette_2/css/jspsych.css
block_construction_wrapper/silhouette_2/experiment.html
block_construction_wrapper/silhouette_2/js/bootstrap.min.js
block_construction_wrapper/silhouette_2/js/custom/block.js
block_construction_wrapper/silhouette_2/js/custom/blockKind.js
block_construction_wrapper/silhouette_2/js/custom/blockMenu.js
block_construction_wrapper/silhouette_2/js/custom/boundary.js
block_construction_wrapper/silhouette_2/js/custom/canvasInteraction.js
block_construction_wrapper/silhouette_2/js/custom/displayStimuli.js
block_construction_wrapper/silhouette_2/js/custom/evaluateScore.js
block_construction_wrapper/silhouette_2/js/custom/experimentEnvironment.js
block_construction_wrapper/silhouette_2/js/custom/randomizeTrials.js
block_construction_wrapper/silhouette_2/js/jquery-ui.min.js
block_construction_wrapper/silhouette_2/js/jquery.min.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-block-silhouette-build.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-image-button-response.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-instructions.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-nAFC-circle.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-survey-likert.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-survey-multi-choice.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych-survey-text.js
block_construction_wrapper/silhouette_2/js/jsPsych/jspsych.js
block_construction_wrapper/silhouette_2/js/matter.js
block_construction_wrapper/silhouette_2/js/mmturkey.js
block_construction_wrapper/silhouette_2/js/p5.js
block_construction_wrapper/silhouette_2/js/setup.js
block_construction_wrapper/silhouette_2/js/socket.io.js
block_construction_wrapper/silhouette_2/README.md
